@{
    ViewData["Title"] = "Bienvenidos";
}

<h2 class="text-center m-2"> BIENVENIDOS A FLOWERS</h2>


<div class="col-12 bg-primary d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-md-start align-items-lg-start">

    <div class="col-12 col-md-5 col-lg-3 bg-white p-5 border rounded m-2 d-flex align-items-center justify-content-start">
        <img class="img-fluid" src="~/pic/INICIO FLOR.jpg" alt="">
    </div>

    <div class="col-12 col-md-5 col-lg-3 bg-white p-5 border rounded m-2 d-flex align-items-center justify-content-start">
        <img class="img-fluid" src="~/pic/INICIO 2 FLOR.jpg" alt="">
    </div>

    <div class="col-12 col-md-10 col-lg-7 bg-white p-3 border rounded m-2">

        <p>Las flores, por su belleza, su elegancia, sus colores y formas, evocan sentimientos y emociones que van desde el amor a la alegría y el agradecimiento.A veces, cuando queremos expresar a otra persona lo que sentimos, creemos o pensamos, bien sea amor, agradecimiento o alegría, usamos flores para comunicárselo.</p>
        <p>La flor de loto es una planta acuática elegante, de gracia y belleza singular. Surge en el agua lodosa, en busca de la luz y la elevación. De allí que, en Oriente, se la asocie a la pureza espiritual, que se desprende de lo carnal, es decir, de lo terrenal, para elevarse.</p>

    </div>

</div>