@{
    ViewData["Title"] = "Bienvenido";
}

<h2 class="text-center m-2">Informacion Privada</h2>

<div class="col-12 d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-md-start align-items-lg-start">

        <div class="col-12 col-md-6 col-lg-8 bg-white p-3 border rounded m-2">

            <h2 class="text-center m-2">Bienvenido @User.Identity.Name</h2>

        </div>

        <div class="col-12 col-md-6 col-lg-8 bg-white p-3 border rounded m-2">
            <p>Bienvenidos a mi Pagina @User.Identity.Name </p>
            
        </div>

</div>