@model App588.Models.Clientes
@{ 
    ViewData["Title"] = "Crear";

    List<Roles> milista = ViewBag.Roles;
}

<h2 class="text-center m-2">Crear Un Cliente</h2>

<div class="col-12 bg-primary d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-md-start align-items-lg-start">

    <div class="col-12 col-md-6 col-lg-3 bg-white p-5 border rounded m-2 d-flex align-items-center justify-content-start">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-action="Index">Ir a Lista</a>
            </li>
        </ul>
    </div>

    <div class="col-12 col-md-6 col-lg-8 bg-white p-3 border rounded m-2">
        <form asp-action="Crear" class="row g-3 ">
            <div class="col-md-12">

                <div>
                    <label class="form-label">Codigo</label>
                    <input asp-for="Codigo" type="text" class="form-control" required placeholder="0000">
                    <span class="bg-warning" text.dark> @ViewData["msj"] </span>
                </div>


                <div class="col-md-6">
                    <select asp-for="Rol" class="form-select" aria-label="Default select example">
                        <option selected>Escoja el Rol</option>
                        @foreach (var rol in milista)
                        {
                            <option value="@rol.Rol">@rol.Rol</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="form-label">Nombre de Usuario</label>
                    <input asp-for="Nombre" type="text" class="form-control" required placeholder="Nombre Apellido">
                </div>

                    <div class="col-md-6">
                        <label class="form-label">Correo</label>
                        <input asp-for="Correo" type="email" class="form-control" required placeholder="usuario@hotmail.com">
                        <div class="invalid-feedback">
                            please choose a username.
                        </div>

                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Enviar Datos</button>
                    </div>
            </div>
</form>
    </div>

</div>